<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="../user/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="../user/css/animate.css">

	<link rel="stylesheet" href="../user/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../user/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="../user/css/magnific-popup.css">

	<link rel="stylesheet" href="../user/css/aos.css">

	<link rel="stylesheet" href="../user/css/ionicons.min.css">

	<link rel="stylesheet" href="../user/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="../user/css/jquery.timepicker.css">


	<link rel="stylesheet" href="../user/css/flaticon.css">
	<link rel="stylesheet" href="../user/css/icomoon.css">
	<link rel="stylesheet" href="../user/css/style.css">
</head>
<div class=" d-flex justify-content-center">
    <h1 class="bg-success text-white text-center mt-5 p-5">Order placed successfully</h1>
  </div>
  <div class=" d-flex justify-content-center">
    <a href="/vieworders" class="btn btn-secondary">VIEW ORDERS</a>
  </div>